<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Store" connectionString="Data Source=localhost;Initial Catalog=Store;Integrated Security=True"/>
  </connectionStrings>

  <membership  defaultProvider="CustomizedProvider">
    <providers>
      <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Store" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0"/>
    </providers>
  </membership>

</configuration>