<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="eshop" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\WORK\Programming\PROJECTS\MS_NET_Training_Program\Source\Training\Task03\eshop.mdf;Integrated Security=True;User Instance=True" />
    </connectionStrings>
</configuration>